*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

img {
  image-rendering: crisp-edges;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}
.header__nav__link {
  text-decoration: none;
  width: 50%;
  margin-bottom: 15px;
}
.header__nav__redesSociales {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}
.header__nav__redesSociales__link {
  width: 25px;
  filter: invert(42%) sepia(0%) saturate(0%) hue-rotate(173deg) brightness(93%) contrast(97%);
}
.header__nav__iconoMenu {
  width: 30px;
  cursor: pointer;
}
.header__nav__menu {
  display: none;
  flex-direction: column;
  width: 100%;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 40px 30px;
  gap: 20px;
}

.pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 30px 20px 20px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}
.pedido__imgFondo1, .pedido__imgFondo3, .pedido__imgFondo2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
.pedido__imgFondo2 {
  animation-name: fadeIn-FadeOut1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
@keyframes fadeIn-FadeOut1 {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pedido__imgFondo3 {
  animation-name: fadeIn-FadeOut2;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
@keyframes fadeIn-FadeOut2 {
  0% {
    opacity: 0;
  }
  47% {
    opacity: 0;
  }
  49% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pedido__texto {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 4px;
}
.pedido__titulo {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(114%) contrast(101%);
}
.pedido__btn {
  border: 1px solid rgba(255, 255, 255, 0.452);
  text-decoration: none;
  color: #fff;
  padding: 20px 50px;
  font-weight: 500;
}

.horarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: rgb(59, 59, 59);
  margin-bottom: 110px;
  gap: 30px;
  overflow: hidden;
}
.horarios__titulo {
  font-weight: 600;
}
.horarios__dias {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 600;
  animation: slide 20s 2s ease-in-out infinite;
  position: relative;
  width: 95%;
  padding: 0 20px;
  text-align: center;
}
.horarios__dias__dia1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.horarios__dias__dia2 {
  position: absolute;
  top: 50%;
  left: 700px;
  transform: translate(-50%, -50%);
  width: 100%;
}
.horarios__dias__dia3 {
  position: absolute;
  top: 50%;
  left: 1200px;
  transform: translate(-50%, -50%);
  width: 100%;
}
@keyframes slide {
  0% {
    left: 0;
  }
  15% {
    left: 0;
  }
  25% {
    left: -500px;
  }
  50% {
    left: -500px;
  }
  60% {
    left: -1000px;
  }
  80% {
    left: -1000px;
  }
  90% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

.platosPrincipales, .promos, .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
  gap: 50px;
  font-family: "Bellefair", serif;
  margin-bottom: 110px;
}
.platosPrincipales__cabecera, .promos__cabecera, .menu__cabecera {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  background: no-repeat center -60px/400% url("../resources/img/bg-seccion-platos-principales.webp");
  height: 250px;
}
.platosPrincipales__cabecera__label, .promos__cabecera__label, .menu__cabecera__label {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: rgb(95, 95, 95);
}
.platosPrincipales__cabecera__titulo, .promos__cabecera__titulo, .menu__cabecera__titulo {
  font-weight: 400;
  font-size: 2rem;
}
.platosPrincipales__menu {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 20px;
}
.platosPrincipales__menu__plato1, .platosPrincipales__menu__plato3, .platosPrincipales__menu__plato2 {
  display: flex;
  background: no-repeat center/cover url("../resources/img/calamar-relleno.webp");
  height: 310px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}
.platosPrincipales__menu__plato2 {
  background: no-repeat center/cover url("../resources/img/pulpo-a-la-parrilla.webp");
  height: 350px;
}
.platosPrincipales__menu__plato3 {
  background: no-repeat center/cover url("../resources/img/pulpo-a-la-gallega.webp");
}

.menu {
  background: no-repeat center -90px/600% url("../resources/img/bg-seccion-menu.webp");
  padding: 70px 30px 0px;
}
.menu__cabecera {
  background: none;
  height: auto;
}
.menu__cabecera__titulo {
  font-size: 3rem;
}
.menu__platos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
  margin-bottom: 50px;
}
.menu__platos__plato {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.menu__platos__plato__detalles {
  display: flex;
  flex-direction: column;
}
.menu__platos__plato__detalles__titulo {
  font-size: 1.5rem;
  font-weight: 400;
}
.menu__platos__plato__detalles__ingredientes {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(95, 95, 95);
}
.menu__platos__plato__aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  gap: 5px;
  width: max-content;
}
.menu__platos__plato__aside__sugerencia {
  font-size: 0.5rem;
  color: #fff;
  background-color: red;
  padding: 3px 6px;
  text-transform: uppercase;
}
.menu__btnVerMenu, .presupuesto__btnPedido, .footer__btnPedido {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: rgb(59, 59, 59);
  border-bottom: 2px solid rgb(160, 160, 160);
  text-decoration: none;
  transition: border-bottom 0.2s ease-in-out;
}
.menu__btnVerMenu:hover, .presupuesto__btnPedido:hover, .footer__btnPedido:hover {
  border-bottom: 2px solid red;
}

.presupuesto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: no-repeat center/cover url("../resources/img/bg-seccion-presupuesto.webp");
  padding: 150px 40px;
  color: #fff;
  gap: 40px;
  margin-bottom: 110px;
}
.presupuesto__titulo {
  text-align: center;
  font-family: "Bellefair", serif;
  font-size: 3rem;
  font-weight: 400;
}
.presupuesto__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.presupuesto__container__containerPaso {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.presupuesto__container__containerPaso__icono {
  width: 20px;
}
.presupuesto__container__containerPaso__descripcion {
  font-size: 1rem;
  font-weight: 500;
}
.presupuesto__btnPedido, .footer__btnPedido {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.promos {
  padding: 80px 10px 10px;
  background: no-repeat center -70px/600% url("../resources/img/bg-seccion-promos.webp");
}
.promos__cabecera {
  background: none;
}
.promos__cabecera__titulo {
  width: 80%;
}
.promos__lista {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  width: 100%;
}
.promos__lista__item1, .promos__lista__item5, .promos__lista__item4, .promos__lista__item3, .promos__lista__item2 {
  position: relative;
  text-align: center;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  height: 180px;
}
.promos__lista__item1 .promos__lista__item1__frontal, .promos__lista__item5 .promos__lista__item1__frontal, .promos__lista__item4 .promos__lista__item1__frontal, .promos__lista__item3 .promos__lista__item1__frontal, .promos__lista__item2 .promos__lista__item1__frontal,
.promos__lista__item1 .promos__lista__item1__trasero,
.promos__lista__item1 .promos__lista__item5__trasero,
.promos__lista__item5 .promos__lista__item1__trasero,
.promos__lista__item5 .promos__lista__item5__trasero,
.promos__lista__item1 .promos__lista__item4__trasero,
.promos__lista__item5 .promos__lista__item4__trasero,
.promos__lista__item4 .promos__lista__item1__trasero,
.promos__lista__item4 .promos__lista__item5__trasero,
.promos__lista__item4 .promos__lista__item4__trasero,
.promos__lista__item1 .promos__lista__item3__trasero,
.promos__lista__item5 .promos__lista__item3__trasero,
.promos__lista__item4 .promos__lista__item3__trasero,
.promos__lista__item3 .promos__lista__item1__trasero,
.promos__lista__item3 .promos__lista__item5__trasero,
.promos__lista__item3 .promos__lista__item4__trasero,
.promos__lista__item3 .promos__lista__item3__trasero,
.promos__lista__item1 .promos__lista__item2__trasero,
.promos__lista__item5 .promos__lista__item2__trasero,
.promos__lista__item4 .promos__lista__item2__trasero,
.promos__lista__item3 .promos__lista__item2__trasero,
.promos__lista__item2 .promos__lista__item1__trasero,
.promos__lista__item2 .promos__lista__item5__trasero,
.promos__lista__item2 .promos__lista__item4__trasero,
.promos__lista__item2 .promos__lista__item3__trasero,
.promos__lista__item2 .promos__lista__item2__trasero {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-style: preserve-3d;
  overflow: hidden;
  backface-visibility: hidden;
  display: grid;
}
.promos__lista__item1__frontal__img, .promos__lista__item5__frontal__img, .promos__lista__item4__frontal__img, .promos__lista__item3__frontal__img, .promos__lista__item2__frontal__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.promos__lista__item1__frontal__titulo, .promos__lista__item5__frontal__titulo, .promos__lista__item4__frontal__titulo, .promos__lista__item3__frontal__titulo, .promos__lista__item2__frontal__titulo {
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.promos__lista__item1__frontal__btnDetalles, .promos__lista__item5__frontal__btnDetalles, .promos__lista__item4__frontal__btnDetalles, .promos__lista__item3__frontal__btnDetalles, .promos__lista__item2__frontal__btnDetalles {
  font-size: 0.9rem;
  color: #fff;
  border-bottom: 2px solid #fff;
  width: max-content;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
}
.promos__lista__item1__trasero, .promos__lista__item5__trasero, .promos__lista__item4__trasero, .promos__lista__item3__trasero, .promos__lista__item2__trasero {
  transform: rotateX(0.5turn);
  background-color: #fff;
  border: 3px solid #000;
  font-family: "Montserrat", sans-serif;
}
.promos__lista__item1__trasero__contenido, .promos__lista__item5__trasero__contenido, .promos__lista__item4__trasero__contenido, .promos__lista__item3__trasero__contenido, .promos__lista__item2__trasero__contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.promos__lista__item1__trasero__precio, .promos__lista__item5__trasero__precio, .promos__lista__item4__trasero__precio, .promos__lista__item3__trasero__precio, .promos__lista__item2__trasero__precio {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: 600;
  font-size: 1.1rem;
}
.promos__lista__item1:hover, .promos__lista__item5:hover, .promos__lista__item4:hover, .promos__lista__item3:hover, .promos__lista__item2:hover {
  transform: rotateX(0.5turn);
}
.promos__lista__item2 {
  height: 220px;
}
.promos__lista__item2 .promos__lista__item2__frontal,
.promos__lista__item2 .promos__lista__item2__trasero {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-style: preserve-3d;
  overflow: hidden;
  backface-visibility: hidden;
  display: grid;
}
.promos__lista__item2:hover {
  transform: rotateX(0.5turn);
}
.promos__lista__item3 {
  height: 200px;
}
.promos__lista__item3 .promos__lista__item3__frontal,
.promos__lista__item3 .promos__lista__item3__trasero {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-style: preserve-3d;
  overflow: hidden;
  backface-visibility: hidden;
  display: grid;
}
.promos__lista__item3:hover {
  transform: rotateX(0.5turn);
}
.promos__lista__item4 {
  height: 240px;
}
.promos__lista__item4 .promos__lista__item4__frontal,
.promos__lista__item4 .promos__lista__item4__trasero {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-style: preserve-3d;
  overflow: hidden;
  backface-visibility: hidden;
  display: grid;
}
.promos__lista__item4:hover {
  transform: rotateX(0.5turn);
}
.promos__lista__item5 {
  height: 200px;
}
.promos__lista__item5 .promos__lista__item5__frontal,
.promos__lista__item5 .promos__lista__item5__trasero {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-style: preserve-3d;
  overflow: hidden;
  backface-visibility: hidden;
  display: grid;
}
.promos__lista__item5:hover {
  transform: rotateX(0.5turn);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: no-repeat center/cover url("../resources/img/bg-footer.webp");
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}
.footer__logo {
  width: 60%;
  margin-top: 150px;
}
.footer__dias {
  display: flex;
  align-items: center;
  position: relative;
  color: rgb(160, 160, 160);
  width: 100%;
  height: 100px;
  animation: slide 20s 2s ease-in-out infinite;
}
.footer__dias__dia1, .footer__dias__dia3, .footer__dias__dia2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer__dias__dia1__titulo, .footer__dias__dia3__titulo, .footer__dias__dia2__titulo {
  font-size: 1.5rem;
  font-weight: 500;
}
.footer__dias__dia1__pueblos, .footer__dias__dia3__pueblos, .footer__dias__dia2__pueblos {
  line-height: 30px;
}
.footer__dias__dia2 {
  left: 500px;
}
.footer__dias__dia3 {
  left: 1000px;
}
@keyframes slide {
  0% {
    left: 0;
  }
  15% {
    left: 0;
  }
  25% {
    left: -500px;
  }
  50% {
    left: -500px;
  }
  60% {
    left: -1000px;
  }
  80% {
    left: -1000px;
  }
  90% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
.footer__redesSociales {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 200px;
}
.footer__redesSociales__link {
  filter: invert(42%) sepia(0%) saturate(0%) hue-rotate(173deg) brightness(93%) contrast(97%);
}
.footer__copyright {
  position: absolute;
  bottom: 0;
  color: rgb(160, 160, 160);
  background-color: #171620;
  text-align: center;
  padding: 30px 5px;
  width: 100%;
}

.--mostrar {
  display: flex;
}

.--ocultar {
  display: none;
}

/*# sourceMappingURL=style.css.map */
