body {
  font-family: "Montserrat", sans-serif;
}

// HEADER
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;

    &__link {
      text-decoration: none;
      width: 50%;
      margin-bottom: 15px;
    }
    &__redesSociales {
      display: flex;
      gap: 15px;
      margin-bottom: 30px;

      &__link {
        width: 25px;
        filter: invert(42%) sepia(0%) saturate(0%) hue-rotate(173deg)
          brightness(93%) contrast(97%);
      }
    }
    &__iconoMenu {
      width: 30px;
      cursor: pointer;
    }
    &__menu {
      display: none;
      flex-direction: column;
      width: 100%;
      list-style: none;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 600;
      padding: 40px 30px;
      gap: 20px;
    }
  }
}

.pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  // background: no-repeat center/cover url('../resources/img/sushi-1.webp');
  width: 100%;
  padding: 30px 20px 20px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;

  &__imgFondo1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
  }
  &__imgFondo2 {
    @extend .pedido__imgFondo1;
    animation-name: fadeIn-FadeOut1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
  @keyframes fadeIn-FadeOut1 {
    0% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  &__imgFondo3 {
    @extend .pedido__imgFondo1;
    animation-name: fadeIn-FadeOut2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
  @keyframes fadeIn-FadeOut2 {
    0% {
      opacity: 0;
    }
    47% {
      opacity: 0;
    }
    49% {
      opacity: 1;
    }
    98% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  &__texto {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 4px;
  }
  &__titulo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg)
      brightness(114%) contrast(101%);
  }
  &__btn {
    border: 1px solid rgba(255, 255, 255, 0.452);
    text-decoration: none;
    color: #fff;
    padding: 20px 50px;
    font-weight: 500;
  }
}

.horarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: rgb(59, 59, 59);
  margin-bottom: 110px;

  &__titulo {
    font-weight: 600;
  }
  &__dias {
    font-weight: 600;
  }
}

.platosPrincipales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
  gap: 50px;
  font-family: "Bellefair", serif;
  margin-bottom: 110px;

  &__cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background: no-repeat center -60px/400% url("../resources/img/bg-seccion-platos-principales.webp");
    height: 250px;

    &__label {
      font-weight: 600;
      font-size: 0.9rem;
      text-transform: uppercase;
      color: rgb(95, 95, 95);
    }
    &__titulo {
      font-weight: 400;
      font-size: 2rem;
    }
  }
  &__menu {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 20px;

    &__plato1 {
      display: flex;
      background: no-repeat center/cover
        url("../resources/img/calamar-relleno.webp");
      height: 310px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #fff;
      font-size: 2.5rem;
    }
    &__plato2 {
      @extend .platosPrincipales__menu__plato1;
      background: no-repeat center/cover
        url("../resources/img/pulpo-a-la-parrilla.webp");
      height: 350px;
    }
    &__plato3 {
      @extend .platosPrincipales__menu__plato1;
      background: no-repeat center/cover
        url("../resources/img/pulpo-a-la-gallega.webp");
    }
  }
}

.menu {
  @extend .platosPrincipales;
  background: no-repeat center -90px/600% url("../resources/img/bg-seccion-menu.webp");
  padding: 70px 30px 0px;

  &__cabecera {
    @extend .platosPrincipales__cabecera;
    background: none;
    height: auto;

    &__label {
      @extend .platosPrincipales__cabecera__label;
    }
    &__titulo {
      @extend .platosPrincipales__cabecera__titulo;
      font-size: 3rem;
    }
  }
  &__platos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
    margin-bottom: 50px;

    &__plato {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

      &__detalles {
        display: flex;
        flex-direction: column;

        &__titulo {
          font-size: 1.5rem;
          font-weight: 400;
        }
        &__ingredientes {
          font-family: "Montserrat", sans-serif;
          font-size: 0.9rem;
          font-weight: 500;
          color: rgb(95, 95, 95);
        }
      }
      &__aside {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        gap: 5px;
        width: max-content;

        &__sugerencia {
          font-size: 0.5rem;
          color: #fff;
          background-color: red;
          padding: 3px 6px;
          text-transform: uppercase;
        }
      }
    }
  }
  &__btnVerMenu {
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: rgb(59, 59, 59);
    border-bottom: 2px solid rgb(160, 160, 160);
    text-decoration: none;
    transition: border-bottom 0.2s ease-in-out;

    &:hover {
      border-bottom: 2px solid red;
    }
  }
}

.presupuesto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: no-repeat center/cover
    url("../resources/img/bg-seccion-presupuesto.webp");
  padding: 150px 40px;
  color: #fff;
  gap: 40px;
  margin-bottom: 110px;

  &__titulo {
    text-align: center;
    font-family: "Bellefair", serif;
    font-size: 3rem;
    font-weight: 400;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__containerPaso {
      display: flex;
      align-items: flex-start;
      gap: 20px;

      &__icono {
        width: 20px;
      }
      &__descripcion {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
  &__btnPedido {
    @extend .menu__btnVerMenu;
    color: #fff;
    border-bottom: 2px solid #fff;
  }
}

.promos {
  @extend .platosPrincipales;
  padding: 80px 10px 10px;
  background: no-repeat center -70px/600% url("../resources/img/bg-seccion-promos.webp");

  &__cabecera {
    @extend .platosPrincipales__cabecera;
    background: none;

    &__label {
      @extend .platosPrincipales__cabecera__label;
    }
    &__titulo {
      @extend .platosPrincipales__cabecera__titulo;
      width: 80%;
    }
  }
  &__lista {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    width: 100%;

    &__item1 {
      position: relative;
      text-align: center;
      transition: transform 1s ease-in-out;
      transform-style: preserve-3d;
      height: 180px;

      .promos__lista__item1__frontal,
      .promos__lista__item1__trasero {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform-style: preserve-3d;
        overflow: hidden;
        backface-visibility: hidden;
        display: grid;
      }
      &__frontal {
        &__img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &__titulo {
          font-size: 2.5rem;
          font-weight: 400;
          color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
        }
        &__btnDetalles {
          font-size: 0.9rem;
          color: #fff;
          border-bottom: 2px solid #fff;
          width: max-content;
          position: absolute;
          bottom: 5px;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: "Montserrat", sans-serif;
        }
      }
      &__trasero {
        transform: rotateX(0.5turn);
        background-color: #fff;
        border: 3px solid #000;
        font-family: "Montserrat", sans-serif;

        &__contenido {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
        }
        &__precio {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #000;
          font-weight: 600;
          font-size: 1.1rem;
        }
      }
      &:hover {
        transform: rotateX(0.5turn);
      }
    }
    &__item2 {
      @extend .promos__lista__item1;
      height: 220px;

      .promos__lista__item2__frontal,
      .promos__lista__item2__trasero {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform-style: preserve-3d;
        overflow: hidden;
        backface-visibility: hidden;
        display: grid;
      }
      &__frontal {
        &__img {
          @extend .promos__lista__item1__frontal__img;
        }
        &__titulo {
          @extend .promos__lista__item1__frontal__titulo;
        }
        &__btnDetalles {
          @extend .promos__lista__item1__frontal__btnDetalles;
        }
      }
      &__trasero {
        @extend .promos__lista__item1__trasero;
        &__contenido {
          @extend .promos__lista__item1__trasero__contenido;
        }
        &__precio {
          @extend .promos__lista__item1__trasero__precio;
        }
      }
      &:hover {
        transform: rotateX(0.5turn);
      }
    }
    &__item3 {
      @extend .promos__lista__item1;
      height: 200px;

      .promos__lista__item3__frontal,
      .promos__lista__item3__trasero {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform-style: preserve-3d;
        overflow: hidden;
        backface-visibility: hidden;
        display: grid;
      }
      &__frontal {
        &__img {
          @extend .promos__lista__item1__frontal__img;
        }
        &__titulo {
          @extend .promos__lista__item1__frontal__titulo;
        }
        &__btnDetalles {
          @extend .promos__lista__item1__frontal__btnDetalles;
        }
      }
      &__trasero {
        @extend .promos__lista__item1__trasero;
        &__contenido {
          @extend .promos__lista__item1__trasero__contenido;
        }
        &__precio {
          @extend .promos__lista__item1__trasero__precio;
        }
      }
      &:hover {
        transform: rotateX(0.5turn);
      }
    }
    &__item4 {
      @extend .promos__lista__item1;
      height: 240px;

      .promos__lista__item4__frontal,
      .promos__lista__item4__trasero {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform-style: preserve-3d;
        overflow: hidden;
        backface-visibility: hidden;
        display: grid;
      }
      &__frontal {
        &__img {
          @extend .promos__lista__item1__frontal__img;
        }
        &__titulo {
          @extend .promos__lista__item1__frontal__titulo;
        }
        &__btnDetalles {
          @extend .promos__lista__item1__frontal__btnDetalles;
        }
      }
      &__trasero {
        @extend .promos__lista__item1__trasero;
        &__contenido {
          @extend .promos__lista__item1__trasero__contenido;
        }
        &__precio {
          @extend .promos__lista__item1__trasero__precio;
        }
      }
      &:hover {
        transform: rotateX(0.5turn);
      }
    }
    &__item5 {
      @extend .promos__lista__item1;
      height: 200px;

      .promos__lista__item5__frontal,
      .promos__lista__item5__trasero {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform-style: preserve-3d;
        overflow: hidden;
        backface-visibility: hidden;
        display: grid;
      }
      &__frontal {
        &__img {
          @extend .promos__lista__item1__frontal__img;
        }
        &__titulo {
          @extend .promos__lista__item1__frontal__titulo;
        }
        &__btnDetalles {
          @extend .promos__lista__item1__frontal__btnDetalles;
        }
      }
      &__trasero {
        @extend .promos__lista__item1__trasero;
        &__contenido {
          @extend .promos__lista__item1__trasero__contenido;
        }
        &__precio {
          @extend .promos__lista__item1__trasero__precio;
        }
      }
      &:hover {
        transform: rotateX(0.5turn);
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: no-repeat center/cover url("../resources/img/bg-footer.webp");
  padding: 0 20px;
  position: relative;

  &__logo {
    width: 60%;
    margin-top: 150px;
  }
  &__dias {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(160, 160, 160);
    gap: 10px;

    &__dia {
      font-size: 1.5rem;
      font-weight: 500;
    }
    &__pueblos {
      line-height: 30px;
    }
  }
  &__btnPedido {
    @extend .presupuesto__btnPedido;
  }
  &__redesSociales {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 200px;

    &__link {
      filter: invert(42%) sepia(0%) saturate(0%) hue-rotate(173deg)
        brightness(93%) contrast(97%);
    }
  }
  &__copyright {
    position: absolute;
    bottom: 0;
    color: rgb(160, 160, 160);
    background-color: #171620;
    text-align: center;
    padding: 30px 5px;
    width: 100%;
  }
}

// CLASES DINAMICAS
.--mostrar {
  display: flex;
}
.--ocultar {
  display: none;
}
